subjects.db
students.db
*.db
*.log
*.pyc
*.xlsx
config.py
tasks.txt
time_tables/full_time_undergraduate/*.xlsx
time_tables/full_time_undergraduate_magistracy
time_tables/full_time_imst/*.xlsx
time_tables/full_time_imst
time_tables/full_time_magistracy_fk/*.xlsx
time_tables/full_time_magistracy_fk
time_tables/full_time_magistracy_afk/*.xlsx
time_tables/full_time_magistracy_afk
.vscode/
/LESGAFT_ENV/
lesgaft_bot.egg-info/
